.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.zero {
  grid-column-start: 2;
  grid-column-end: 3;
}

#inputNumber {
  margin-bottom: 6px;
}
